    <meta charset="utf-8">
    <meta http-equiv="content-language" content="ru" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="http://bananagarden.net/media/favicon.ico" type="image/x-icon">

	<meta name="robots" content="index, follow" />
	<meta name="revisit" content="7" />
	<meta name="document-state" content="static" />	
	 
	<meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
	<meta name="author" content="{{ site.author }}" />
	<meta name="copyright" content="{{ site.copyright }}" />

	<link rel="author" href="https://plus.google.com/u/0/105077924303064092736" /> 
	<link rel="publisher" href="https://plus.google.com/u/0/105077924303064092736" />
	 
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:url" content="{{ site.url }}" />

	<meta property="og:image" content="{% if page.meta_image %}{{ page.meta_image }}{% else %}{{ site.meta_image }}{% endif %}" />

	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta property="og:site_name" content="bananagarden.net" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="ru_RU" />
	<meta property="og:locale:alternate" content="uk_UA" />
	<meta property="og:locale:alternate" content="en_US" />
	 
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="{{ site.twitter }}" />

	<meta name="twitter:title" content="{{ page.twitt_title }}" />

	<meta name="twitter:description" content="{{ page.twitt_desc }}" />
	<meta name="twitter:url" content="{{ site.url }}" />
	<meta name="twitter:image" content="{% if page.meta_image %}{{ page.meta_image }}{% else %}{{ site.meta_image }}{% endif %}" />




    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="/css/main.css">

<!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

-->
	<link rel="stylesheet" href="../css/font-awesome.min.css">



<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

<script type="text/javascript">
  VK.init({apiId: 4969435, onlyWidgets: true});
</script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>




