<section class="offer section">

   <nav id="offer-nav" >
      <ul>
         <li><a href="#offer/banana-e-commerce" class="active-offer">магазин</a></li>
         <li><a href="#offer/banana-landos">лендинг</a></li>
         <li><a href="#offer/banana-portal">рабочая лошадка</a></li>         
         <!--<li><a href="#offer/banana-seo">seo</a></li>-->
         <li><a href="#offer/more">комплектация</a></li>
         <li><a href="#offer/banana-support">сопровождение</a></li>
      </ul>
   </nav>



   <div class="slide e-commerce" data-anchor="banana-e-commerce">      
      <div class="slide-text">
         <h2>Интернет магазин</h2>
         <hr>
         <p>Проверенное годами решение для малого и среднего бизнеса. Отдел продаж который работает 24/7, 365 дней в году. Тут и каталог, и фильтры продукции, и уникальные параметры под конкретно ваш тип товара. Возможность написать отзыв, купить в один клик, положить продукт в список желаний. Наличие товара, способы доставки. Само собой мы подключаем платежные системы. Словом, полный фарш.</p>
         <p>Мы следим за лидерами в области e-commerce. </p>
         <p> Все для удовольствия покупателя, который в знак признательности оставит вам свои деньги.</p>
         <!--<ol>
            <li><h3>удобная корзина заказов</h3></li>
            <li><h3>Фильтр товаров</h3></li>
            <li><h3>Отзывы к товарам</h3></li>
            <li><h3>подключение платежных систем</h3></li>
            <li><h3>социальные триггеры для повышения конверсии</h3></li>
         </ol>-->
      </div>
      <div class="slide-img"><img src="media/landing/offer/1.png"></div> 
      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>
   </div>



   <div class="slide landos" data-anchor="banana-landos">
      <div class="slide-text">
         <h2>Landing page (посадочная страница)</h2>
         <hr>
         <ul>
            <li><h3>нужно продать товар? заявить о себе?</h3></li>
            <li><h3>наконец-то найти клиентов?</h3></li>
            <li></li>
            <li></li>
            <li><h3>нет ничего лучше лендинга для этих целей. </h3></li>
         </ul>
      </div>
      <div class="slide-img">
         <img src="media/landing/02_Homepage.jpg" alt="">
         <img src="media/landing/02_Homepage.jpg" alt="">
      </div> 
      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>
   </div>



   <div class="slide portal" data-anchor="banana-portal">      
      <div class="slide-text">
         <h2>Сайт "Рабочая лошадка"</h2>
         <hr>
         <ol>
            <li><h3>Сайт-портфолио</h3></li>
            <li><h3>Интернет каталог</h3></li>
            <li><h3>Информационный сайт</h3></li>
            <li><h3>Блог</h3></li>
            <li><h3>Портал</h3></li>
         </ol>
      </div>
      <div class="slide-img">
         <img src="media/landing/02_Homepage.jpg" alt="">
         <img src="media/landing/02_Homepage.jpg" alt="">
         <img src="media/landing/02_Homepage.jpg" alt="">
      </div>
      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>
   </div>


   <div class="slide what-else" data-anchor="more">
      <div class="slide-text">
         <h2>Комплектация </h2>
         <hr>
         <ol>
            <li><h3>адаптация верстки для телефонов, планшетов и больших мониторов</h3></li>
            <li><h3>внутренняя сео оптимизация</h3></li>
            <li><h3>наполнение сайтов готовым контентом</h3></li>
            <li><h3></h3></li>
            <li><h3></h3></li>
         </ol>
      </div>
      <div class="slide-img">

         <img src="media/landing/02_Homepage.jpg" alt="">
      </div>
      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>
   </div>


   <div class="slide support" data-anchor="banana-support">
      <div class="slide-text">
         <h2>Сопровождение сайтов</h2>
         <hr>
         <p>Сайт - не конечный продукт, но рабочий инструмент. <br> Каждый инструмент нуждается в заточке. Веб студия banana garden не бросает свои инструменты на произвол судьбы.</p>
         <ol>
            <li><h3>нужна адаптивная версия рабочего сайта?</h3></li>
            <li><h3>расширить функционал?</h3></li>
            <li><h3>поиграть со шрифтами? подрихтовать верстку?  </h3></li>
            <li><h3>это сюда.  </h3></li>
         </ol>
      </div>
 
      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>   
   </div>


<!--
   <div class="slide seo" data-anchor="banana-seo">
      <div class="slide-text">
         <h2>SEO оптимизация </h2>
         <hr>
         <ul>
            <li><h3>при заказе сайта внутреняя сео оптимизация входит в сумму.</h3></li>
            <li><h3>модули комментариев, кнопки соц сетей, </h3></li>
            <li><h3>ЧПУ, мета теги, атрибуты...</h3></li>
            <li><h3>Создание карты сайта (sitemap)</h3></li>
            <li><h3>Регистрация в Google Webmaster и Yandex Master </h3></li>
         </ul>
      </div>
      <div class="slide-img">
         <img src="media/landing/02_Homepage.jpg" alt="">
         <img src="media/landing/02_Homepage.jpg" alt="">
         <img src="media/landing/02_Homepage.jpg" alt="">
         <img src="media/landing/02_Homepage.jpg" alt="">
      </div>   
      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>   
   </div>
-->




</section>