<section class="offer section">

   <nav id="offer-nav">
      <ul>
         <li data-menuanchor="offer/banana-e-commerce"><a href="#offer/banana-e-commerce" class="">магазин</a></li>
         <li data-menuanchor="offer/banana-landos"><a href="#offer/banana-landos">лендинг</a></li>
         <li data-menuanchor="offer/banana-portal"><a href="#offer/banana-portal">рабочая лошадка</a></li>         
         <li data-menuanchor="offer/more"><a href="#offer/more">комплектация</a></li>
         <li data-menuanchor="offer/banana-support"><a href="#offer/banana-support">сопровождение</a></li>
      </ul>
   </nav>



   <div class="slide e-commerce" data-anchor="banana-e-commerce">      
      <div class="slide-text">
         <h2>Интернет магазин</h2>
         <hr>
         <p>Проверенное годами решение для малого и среднего бизнеса. Отдел продаж который работает 24/7, 365 дней в году. Тут и каталог, и фильтры продукции, и уникальные параметры под конкретно ваш тип товара. Возможность написать отзыв, купить в один клик, положить продукт в список желаний. Наличие товара, способы доставки, акции, купоны, скидки. Само собой мы подключаем платежные системы. Словом, полный фарш.</p>
         <p>Мы следим за лидерами в области e-commerce. Мы следим за исследованиями в области usability. В то время как другие гадают - влияет ли цвет на принятие решения - мы подбираем оттенок.</p>
         <p> Все для удовольствия покупателя, который в знак признательности оставит вам свои деньги.</p>
         <!--<ol>
            <li><h3>удобная корзина заказов</h3></li>
            <li><h3>Фильтр товаров</h3></li>
            <li><h3>Отзывы к товарам</h3></li>
            <li><h3>подключение платежных систем</h3></li>
            <li><h3>социальные триггеры для повышения конверсии</h3></li>
         </ol>-->
      </div>

      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>
   </div>



   <div class="slide landos" data-anchor="banana-landos">
      <div class="slide-text">
         <h2>Landing page (посадочная страница)</h2>
         <hr>
         <ul>
            <li><h3>нужно продать товар? заявить о себе?</h3></li>
            <li><h3>наконец-то найти клиентов?</h3></li>
            <li></li>
            <li></li>
            <li><h3>нет ничего лучше лендинга для этих целей. </h3></li>
         </ul>
      </div>

      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>
   </div>



   <div class="slide portal" data-anchor="banana-portal">      
      <div class="slide-text">
         <h2>Сайт "Рабочая лошадка"</h2>
         <hr>
         <ol>
            <li><h3>Сайт-портфолио</h3></li>
            <li><h3>Интернет каталог</h3></li>
            <li><h3>Информационный сайт</h3></li>
            <li><h3>Блог</h3></li>
            <li><h3>Портал</h3></li>
         </ol>
      </div>

      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>
   </div>


   <div class="slide banana-more" data-anchor="more">
      <div class="slide-text">
         <h2>Небольшой список того, чем мы комплектуем свои сайты:</h2>
         <hr>
         <ol>
            <div class="ol-column">
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>оптимизация графики для веба</li>
               <li>кеширование всего что можно (и нужно) закешировать</li>
               <li>минификация кода для ускорения загрузки</li>
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>кроссбраузерность (хром, опера, мозила, ие, сафари)</li>
               <li>наполнение сайтов готовым контентом</li>


            </div>
            <div class="ol-column">
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>внутренняя сео оптимизация</li>
               <li>наполнение сайтов готовым контентом</li>
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>внутренняя сео оптимизация</li>

            </div>              
            
         </ol>
      </div>

      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>
   </div>


   <div class="slide support" data-anchor="banana-support">
      <div class="slide-text">
         <h2>Сопровождение сайтов</h2>
         <hr>
         <p>Сайт - не конечный продукт, но рабочий инструмент. <br> Каждый инструмент нуждается в заточке. Веб студия banana garden не бросает свои инструменты на произвол судьбы.</p>
         <ol>
            <li><h3>нужна адаптивная версия рабочего сайта?</h3></li>
            <li><h3>расширить функционал?</h3></li>
            <li><h3>поиграть со шрифтами? подрихтовать верстку?  </h3></li>
            <li><h3>это сюда.  </h3></li>
         </ol>
      </div>
 
      <div class="brief"><a href="">Заполните бриф на разработку и мы сможем начать уже сегодня</a></div>   
   </div>


</section>