<section class="slider section">

<h2 class="section-header">Портфолио</h2>

   <div class="slide e-commerce" data-anchor="banana-e-commerce">      
      <div class="slide-text">

         <h3>Задача:</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

         <h3>Решение:</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         <!--<ol>
            <li><h3>удобная корзина заказов</h3></li>
            <li><h3>Фильтр товаров</h3></li>
            <li><h3>Отзывы к товарам</h3></li>
            <li><h3>подключение платежных систем</h3></li>
            <li><h3>социальные триггеры для повышения конверсии</h3></li>
         </ol>-->
      </div>

   </div>



   <div class="slide landos" data-anchor="banana-landos">
      <div class="slide-text">

         <p>Не нуждается в представлении. Каждый уважающий себя бизнес если не имеет парочку лендингов, то наверняка слышал о них. Они все еще работают, если уметь их готовить. Веб студия bananagarden.net претендует на это умение. </p>
         <ol>
            <li>Мы не наивны чтоб бездумно размещать счетчики и акции</li>
            <li>Мы достаточно щепетильны чтоб изучить всех конкурентов</li>
            <li>Мы не брезгуем задать вопросы вашим клиентам</li>
            <li>Мы не знаем всех рынков, но мы быстро учимся</li>
            <li>Мы не успокоимся пока ваш лендинг не принесет вам деньги</li>
         </ol>
      </div>

   </div>



   <div class="slide portal" data-anchor="banana-portal">      
      <div class="slide-text">

         <p></p>
      </div>

   </div>


   <div class="slide banana-more" data-anchor="more">
      <div class="slide-text">


         <ol>
            <div class="ol-column">
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>оптимизация графики для веба</li>
               <li>кеширование всего что можно (и нужно) закешировать</li>
               <li>минификация кода для ускорения загрузки</li>
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>кроссбраузерность (хром, опера, мозила, ие, сафари)</li>
               <li>наполнение сайтов готовым контентом</li>


            </div>
            <div class="ol-column">
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>внутренняя сео оптимизация</li>
               <li>наполнение сайтов готовым контентом</li>
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>адаптация верстки для телефонов, планшетов и больших мониторов</li>
               <li>внутренняя сео оптимизация</li>

            </div>              
            
         </ol>
      </div>

      <!---->
   </div>


   <div class="slide support" data-anchor="banana-support">
      <div class="slide-text">

         <p>Сайт - не конечный продукт, но рабочий инструмент. <br> Каждый инструмент нуждается в заточке. Веб студия banana garden не бросает свои инструменты на произвол судьбы.</p>
         <ol>
            <li><h3>нужна адаптивная версия рабочего сайта?</h3></li>
            <li><h3>расширить функционал?</h3></li>
            <li><h3>поиграть со шрифтами? подрихтовать верстку?  </h3></li>
            <li><h3>это сюда.  </h3></li>
         </ol>
      </div>
 
   </div>


</section>