
<aside class="sidebar">

	<section>
		<h2 class="logo"><a href="{{ site.url }}">bananagarden.net</a></h2>
	</section>




	<section>
		<nav>
			<ul>
				<!--
				<li><a href="/blog/">Blog</a></li>
				-->
				<li><a href="/about/">About</a></li>
				<li><a href="{{ site.url }}">Home</a></li>
			</ul>
		</nav>
	</section>	 
	


	<section class="contact">
		<h4>Wanna say hello?</h4>
		<p></p>
		<ul>
			<li>
				<a href="{{ site.github }}"><span class="fa fa-github-alt fa-2x"></span></a>
			</li>
			<li>
				<a href="{{ site.twitter }}"><span class="fa fa-twitter fa-2x"></span></a>
			</li>
			<li>
				<a href="mailto:{{ site.mail }}"><span class="fa fa-envelope fa-2x"></span></a>
			</li>
<!--			<li>
				<a href="{{ site.url }}/feed.xml"><span class="fa fa-rss fa-2x"></span></a>
			</li>
-->		</ul>
	</section>

</aside>