/**
 * Reset some basic elements
  */
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
}

::selection {
    background: #EFC232; 
    color: #fff;
}

/**
 * Basic styling
 */
body {
    //font-family: $font-banana;
    font-family: Verdana,sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;

    color: $text-color;
    border-top: 0;
    //background: url(../media/tumblr_mb093wW1xv1r9xnnwo1_1280.png);
    background: #ECE9E5;
    letter-spacing: normal;
}



h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $woid;
    cursor: default;
}



/**
 *      Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


ul {
    list-style-type: none;    
}


/**
 *      Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-banana-medium;
    font-weight: normal;
}

h1 {
    font-size: 50px;
}
h4 {
    font-size: 20px;
}


/**
 *      Links
 */
a {
    color: tomato;
    text-decoration: none;
/*
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; 
*/
    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: darken($brand-color, 15%);
        text-decoration: underline;
    }
}





/**
 *      Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $banana-color-light;
    border-radius: 3px;
    background-color: #eef;

    display: inline-block;

}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;


    margin-left: $woid*3;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}





  /**
  *      Clearfix
  *
  *
  *      @include clearfix();
  */
@mixin clearfix() {
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}
        
.clear {
  clear: both;
  height: 0;
}


div.stripes {
    -height: $woid/2;
    width: 100%;
    -background: url(../media/stripes.png);
    border-bottom: 5px solid $banana-color-red;
}



/**
 *      preloader
 */

.preloader{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background:$banana-color;
  z-index:999;


}
 
.preloader .item{
  position:absolute;
  width:50px;
  height:50px;
  left:50%;
  top:50%;
  margin-left:-25px;
  margin-top:-25px;
} 

.spinner {
  width: 50px;
  height: 50px;
  margin: 0px auto;
  background-color: $banana-color-red;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}





.fock-the-king {
  

  -webkit-transition: all 0.9s ease-in;
    -moz-transition: all 0.9s ease-in;
    -ms-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
    transition: all 0.9s ease-in;

    text-decoration: line-through; 
}



.death {
  display: none;
}

g path {
  stroke: $banana-color-red;
  fill: #fff;
}

#c.count-o {
   visibility: hidden !important; 
}