/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, div {
    margin: 0;
    padding: 0;
}

::selection {
    background: #EFC232; 
}

/**
 * Basic styling
 */
body {
    font-family: $font-banana;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    
    border-top:5px double $banana-color;


    height: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $woid;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


ul {
    list-style-type: none;    
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-banana-medium;
    font-weight: 300;
    text-align: center;

}

h1 {
    font-size: 50px;
}
h4 {
    font-size: 20px;
}


/**
 * Links
 */
a {
    color: tomato;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $color-green-nice;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $banana-color;
    border-left: 4px solid $banana-color-light;
    padding-left: $woid;
    font-size: 19px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $banana-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}





/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



