
/*************************************************************************************************
*
*
*		portfolio
*************************************************************************************************
*/


section.portfolio {
	//background: url('../media/landing/b23.png');

	text-align: center;
	overflow: hidden;
	
	

	h2 {
		background: url('../media/landing/ricepaper.png');
	}

	div.banana-grid {
		padding: $woid $woid*3;
		overflow: hidden;
		-width: 90%;
		-margin: 0 auto;


		.am-wrapper{
			float: left;
			position: relative;
			overflow: hidden;
			img{
				position: absolute;
				outline: none;
			}
		}


		div.banana-grid-item {
			width: 110px;
			height: 110px;
			float: left;
	
			box-sizing: border-box;
			border: 3px solid $banana-color;
			background: $banana-color-red;



		}
	}


}




/*************************************************************************************************
*
*
*		how banana work
*************************************************************************************************
*/

section.how-banana-work {
	background: url('../media/landing/stardust.png');
	text-align: center;

	h2.section-header {
		background: url('../media/landing/ricepaper.png');
	}

	ul {
		margin-top: $woid*2;
		
		height: 100%;

		li {
			display: inline-block;
			vertical-align: top;
			width: (100% / 3.5);
			min-width: 300px;
			background: url('../media/landing/ricepaper.png');
			position: relative;
			margin: 0 $woid;
			border: 2px solid $banana-color-red;
			//max-height: 300px;
			margin-bottom: $woid*2;
			padding-bottom: $woid;


			div.how-work-count {
				position: absolute;
				top: -20px;
				left: -20px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				background: $banana-color-red;
				border: 2px solid $banana-color;
				font-size: 27px;
				color: #ECE9E5;
				vertical-align: middle;
				-webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.175);
				box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.175);
			}
			h3 {
				background: $banana-color;
				font-size: 1.9em;
				margin: 0;

				-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
  				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
			}
			p {
				text-align: left;
				padding: $woid;
				margin-bottom: 0;
			}
		}
	}
} 


/*************************************************************************************************
*
*
*		ESCORT
*************************************************************************************************
*/

section.escort {
	//background: url('../media/landing/stardust.png');
	//background: url('../media/landing/ricepaper.png');
	text-align: center;


	h2.section-header {
		background: url('../media/landing/ricepaper.png');
		margin-bottom: $woid*4;
	}

	div.urrrghhh {
		width: 30%;
		vertical-align: top;
		display: inline-block;
		margin-right: $woid*2;
		background: url('../media/landing/ricepaper.png');
		position: relative;
		border: 2px solid $banana-color-red;
		margin-bottom: $woid*2;


		h3 {
			background: $banana-color;
			font-size: 1.9em;
			margin: 0;
			-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
		}
		p {
			text-align: left;
			padding: $woid*2;
			margin-bottom: 0;
		}
		div.how-work-count {
			position: absolute;
			top: -20px;
			left: -20px;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			background: $banana-color-red;
			border: 2px solid $banana-color;
			font-size: 27px;
			color: #ECE9E5;
			vertical-align: middle;
			-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
		}
		div.banana-price {
			background: $banana-color-red;
			font-size: 1.3em;
			padding: $woid/4;
			margin: 0;
			-webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.175);
			box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.175);
			color: #ECE9E5;
		}
	}
	div.about-escort {
		display: inline-block;
		vertical-align: top;
		width: 40%;
		border: 2px solid $banana-color-red;

		padding: $woid*3;
		margin-left: $woid*2;
		background: url('../media/landing/ricepaper.png');
		cursor: default;
		h3 {
			background: $banana-color-red;
			color: #ECE9E5;
			font-size: 1.3em;
			padding: $woid;
		}
	}
}


/*************************************************************************************************
*
*
*		banana people
*************************************************************************************************
*/

section.about {
	background: url('../media/landing/ricepaper.png');
	text-align: center;


	div.about-banana {	
		display: inline-block;
		width: 50%;
		//margin: 0 auto;
		text-align: center;
		//height: 40%;
		padding-top: $woid*3;
		box-sizing: border-box;
		
		p {
			margin: $woid $woid*2;
			overflow: hidden;	
			padding: 0 $woid*3;		
		}
		div {
			width: 80%;
			margin: 0 auto;
			background: rgba($banana-color, 0.3);
			padding: $woid/2;
		}
		a.about-brief {
			display: block;
			width: 70%;
			margin: 0 auto;
			padding: $woid;
			margin-top: $woid;
			text-align: center;

			color: #fff;
			font-size: 1.4em;			
			border: 3px solid $banana-color;
			background: $color-green-nice;
			&:hover {
				text-decoration: none;
			}
		}
	}

	ul.slaves {
		//width: 90%;
		//margin: 0 auto;
		padding-top: $woid*3;
		//display: inline-block;
		box-sizing: border-box;		
		text-align: left;		
		li {
			width: 766px;
			margin: 0 auto;
			//height: 180px;
			//float: left;
			//padding: $woid;
			//box-sizing: border-box;
			text-align: center;
			position: relative;
			img {
				width: 130px;
				height: 130px;
				vertical-align: middle;
				box-shadow: 0 0 10px #666;
				border-radius: 100%;
				border: 1px solid $banana-color-red;

			}
			p {
				box-sizing: border-box;
				font-size: 1.1em;
				//width: 300px;
				//height: 300px;
				text-align: left;
				height: 100px;
				width: 480px;
				max-height: 100px;
				max-width: 480px;
				border-radius: 10px;
				margin: 0;
				padding: $woid;
				-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
				-moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
				span {

				}
			}
			div {
				//position: absolute;
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				padding: 0;
				
			}

			#jenya {
				position: relative;
				background: $banana-color;
				border: 2px solid $banana-color-red;

				&:after, &:before {
					left: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				&:after {
					//border-color: rgba(136, 183, 213, 0);
					border-left-color: $banana-color;
					border-width: 15px;
					margin-top: -15px;
				}
				&:before {
					//border-color: rgba(194, 225, 245, 0);
					border-left-color: $banana-color-red;
					border-width: 17px;
					margin-top: -17px;
				}
			}
			#dima {
				position: relative;
				background: $banana-color;
				border: 2px solid $banana-color-red;

				&:after, &:before {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				&:after {
					//border-color: rgba(136, 183, 213, 0);
					border-right-color: $banana-color;
					border-width: 15px;
					margin-top: -15px;
				}
				&:before {
					//border-color: rgba(194, 225, 245, 0);
					border-right-color: $banana-color-red;
					border-width: 17px;
					margin-top: -17px;
				}
			}
			#valia {
				position: relative;
				background: $banana-color;
				border: 2px solid $banana-color-red;

				&:after, &:before {
					left: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				&:after {
					//border-color: rgba(136, 183, 213, 0);
					border-left-color: $banana-color;
					border-width: 15px;
					margin-top: -15px;
				}
				&:before {
					//border-color: rgba(194, 225, 245, 0);
					border-left-color: $banana-color-red;
					border-width: 17px;
					margin-top: -17px;
				}
			}
			#igor {
				position: relative;
				background: $banana-color;
				border: 2px solid $banana-color-red;

				&:after, &:before {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				&:after {
					//border-color: rgba(136, 183, 213, 0);
					border-right-color: $banana-color;
					border-width: 15px;
					margin-top: -15px;
				}
				&:before {
					//border-color: rgba(194, 225, 245, 0);
					border-right-color: $banana-color-red;
					border-width: 17px;
					margin-top: -17px;
				}
			}


			&:nth-child(1) {
				img {
					//float: right;
					margin-left: $woid*3;
					//vertical-align: bottom;					
				}
				div {
					//float: right;
				}
			}
			&:nth-child(2) {
				img {
					//float: left;
					margin-right: $woid*3;
					//vertical-align: bottom;
				}
				div {
				
				}
			}
			&:nth-child(3) {
				img {
					//float: right;
					margin-left: $woid*3;
				}
				div {
					
				}
			}	
			&:nth-child(4) {
				img {
					//float: left;
					margin-right: $woid*3;
				}
				div {
					
				}
			}

			h3 {
				margin: 0;
				padding: $woid;
			}
			


		}		
		
	}
}





/*************************************************************************************************
*
*
*		contact
*************************************************************************************************
*/


section.landing-contact {
	//background: url('../media/landing/4YCB0VAY1L.jpg');
	//background-size: cover;

	background: url('../media/landing/stardust.png');
	//padding-top: 100px;
	text-align: center;

	h2.section-header {
		background: url('../media/landing/ricepaper.png');
	}

	div.landing-contact-list {
		background: url('../media/landing/ricepaper.png');
		border: 2px solid $banana-color-red;
		-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
		-moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
		width: 75%;
		margin: 50px auto 0;
		padding: $woid*2;

		h2 {
			font-size: 2.7em;
			margin-top: 0;			
		}
		h3 {
			font-size: 1.6em;
			margin-top: 0;
		}
		p.contact-massage {
			border-bottom: 2px dashed $banana-color-red;
			padding: $woid;
			margin-bottom: 0;
		}
		p.please-help {
			background: $banana-color-red;
			color: $banana-color-white;
			font-size: 1.2em;
			padding: $woid;
			width: 80%;
			margin: 0 auto;
			-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
			-moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
		}
		ul{
			width: 40%;
			float: left;
			text-align: left;
			box-sizing: border-box;
			margin: $woid*3;
			vertical-align: top;
			li {
				font-size: 1.3em;
				vertical-align: middle;
				padding-bottom: $woid;
				i {
					width: 30px;
				}
			}
			li.freetown {
				font-size: 1.1em;
			}
		}

		div.yoba-form {
			float: right;
			width: 40%;
			padding-top: 0;
			margin-right: $woid*3;

			form {
				border: 1px solid $banana-color-red;
				-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
				-moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);

			}
		}

	}


}



/*************************************************************************************************
*
*
*		my awesome form
*************************************************************************************************
*/




@-webkit-keyframes caret {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes caret {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.saying:after{
	content:"|";
	font-family:Arial, sans-serif;
	font-size:1.2em;
	line-height:1;
	display:inline-block;
	vertical-align:baseline;
	opacity:1;
	animation: caret 500ms infinite;
}
/*
#fp-nav ul li .fp-tooltip.left {
	width: 100px;
	height: 40px;
	border: 1px solid $banana-color-red;
	background: rgba($banana-color, 0.8);

	color: #fff;
	font-size: 1.4em;
	padding:$woid/2;

}
*/
#fp-nav ul li a span {
	background: #FC6347 !important;
}

.fp-slidesNav ul li a span {
	background: #FC6347 !important;
}

.fp-controlArrow.fp-prev {
	border-color: transparent $banana-color-red transparent transparent !important;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent $banana-color-red !important;
}


.active-offer {
	background: $banana-color;
	color: #fff !important;
}

