
.saying:after{
	content:"|";
	font-family:Arial, sans-serif;
	font-size:1.2em;
	line-height:1;
	display:inline-block;
	vertical-align:baseline;
	opacity:1;
}

span#how-to-nav {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 10px;
	z-index: 9999;
	img {
		max-width: 100px;
		max-height: 70px;
	}
}

nav#landing-nav {
	position: fixed;
	top: 0;
	z-index: 99;

	width: 70px;
	height: 100%;
	background: $banana-color;
	border-right: 1px solid $banana-color-red;

	opacity: 0.9;
	text-align:center;

		div.nav-bg {
			width: 70px;
			height: 100%;
			background: $banana-color;
			opacity: 0.7;
			
		}
	
		ul li {

			margin: 0;
			padding: $woid/3;
			position: relative;

			border-bottom: 1px solid $banana-color-red;

			font-size: 2.4em;
			color: #fff;

				a {
					display: block;
					
					&:hover {
						text-decoration: none;
					}
				}

				h3 {
					color: $banana-color-red;
					font-size: 2.2em;
					margin: 0 auto;
					opacity: 1;

					span {
						color: $color-green-nice;
					}
				}

				&:hover {
					background: rgba($banana-color-red, 0.8);

					a {
						color: #fff;
					}

					&:after {
						content: '';
						position: absolute;
						border-style: solid;
						border-width: 14px 0 14px 12px;
						border-color: transparent $banana-color-red;
						display: block;
						width: 0;
						z-index: 1;
						right: -12px;
						top: 21px;
					}					
					&:last-child {
						background: 0;

						&:after {
							display: none;
						}
					}					
					
				}

				&:first-child {
					-border-top: 1px solid $banana-color-red;
				}
				&:last-child {
					border-bottom: 0;
					margin-top: $woid;
				}
				
		
		}
}

div#fullPage {
	margin-left: 70px;


	.fp-controlArrow.fp-prev {
		left: 5px;
		border-width: 58.5px 71px 58.5px 0;
		border-color: transparent $banana-color-red transparent transparent;

		display: none;
	}
	.fp-controlArrow.fp-next {
		right: 5px;
		border-width: 58.5px 0 58.5px 71px;
		border-color: transparent transparent transparent $banana-color-red;

		display: none;
	}
}



header.sky {
	background: url('../media/landing/OSJQVTURTM.jpg');
	background-size: cover;
	height: 500px;
	text-align:center;

		h1.theater {
			-text-align: left;

			font-size: 5.5em;
			margin: 0;
			-margin-left: 9%;	
			padding-top: 14%;

			span#god {
				-display: block;
				-margin-left: -3%;
			}
			span#coma {
				
			}
		}

		h2 {
			margin: 0;
			padding: $woid*2 $woid*3;
			-color: $banana-color-red;

		}
}


section.portfolio {
	min-height: 500px;
	padding: $woid*4 $woid*4 $woid;

	text-align:left;

		hr {
			border-style: solid;
			width: 30%;
			float: left;
			clear: both;
			color: $banana-color-red;
		}

		nav#portfolio-nav {
			position: absolute;
			top: 0;

			ul {

				
			}

			ul li {
				display: inline-block;

				background: url('../media/landing/ricepaper.png');
				border: 1px solid $banana-color-red;
				margin: $woid/2 $woid;
				padding: $woid/2 $woid;

			}
			h4 {
				margin: 0;
			}
		}

		div.slide {
			background: $banana-color;
			height: 91%;
			

			div.slide-content {
				height: 100%;
				border: 1px solid $banana-color-red; 
				padding: $woid*3 $woid*4 0;
				background: url('../media/landing/ricepaper.png');
	
					ol {
						display: inline-block;
						min-width: 40%;
						padding-left: $woid; 
					}
					
					h4 {
						display: inline-block;
						padding: $woid;
						background: $color-green-nice;
						border: 1px solid $banana-color-red;
						color: #fff;
						font-size: 2em;
					}

					h3 {
						margin: 0;
						margin-bottom: $woid;
						font-size: 19px;
					}

			}

			div.portal {
				background: url('../media/landing/1.png') no-repeat 90% 25%;
			}
			div.seo {

			}
			div.landos {

			}
			div.support {

			}
			div.e-commerce {

			}
		}
}



section.landing-contact {
	background: url('../media/landing/4YCB0VAY1L.jpg');
	background-size: cover;

	padding-top:150px;
	padding-bottom:150px;

	text-align:center;

	div {
		background: url('../media/landing/ricepaper.png');
		border: 1px dotted $banana-color-red;

		height: 300px;
		width: 60%;
		margin: 0 auto;
		padding-top: 2em;
	}

	h2.landing-contact-mail {
		font-size: 2.7em;

			a:hover {
        		text-decoration: none;
			}
	}

}






