/*
*
*
*		how banana work
*
*/

section.how-banana-work {
	background: url('../media/landing/stardust.png');
	text-align: center;

	h2.section-header {
		background: url('../media/landing/ricepaper.png');
	}

	ul {
		margin-top: $woid*2;
		
		height: 100%;

		li {
			display: inline-block;
			vertical-align: top;
			width: (100% / 3.5);
			min-width: 300px;
			background: url('../media/landing/ricepaper.png');
			position: relative;
			margin: 0 $woid;
			border: 2px solid $banana-color-red;
			max-height: 300px;
			margin-bottom: $woid*2;
			padding-bottom: $woid;


			div.how-work-count {
				position: absolute;
				top: -25px;
				left: -25px;
				width: 50px;
				height: 50px;
				border-radius: 100%;
				background: $banana-color-red;
				border: 2px solid $banana-color;
				font-size: 30px;
				color: #ECE9E5;
				vertical-align: middle;
			}
			h3 {
				background: $banana-color;
				font-size: 1.9em;
				margin: 0;

				-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
  				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
			}
			p {
				text-align: left;
				padding: $woid;
				margin-bottom: 0;
			}
		}
	}
} 

/*
*
*
*		portfolio
*
*/


section.portfolio {
	//background: url('../media/landing/b23.png');

	text-align: center;
	overflow: hidden;
	
	

	h2 {
		background: url('../media/landing/ricepaper.png');
	}

	div.banana-grid {
		padding: $woid $woid*3;
		overflow: hidden;
		-width: 90%;
		-margin: 0 auto;


		.am-wrapper{
			float: left;
			position: relative;
			overflow: hidden;
			img{
				position: absolute;
				outline: none;
			}
		}


		div.banana-grid-item {
			width: 110px;
			height: 110px;
			float: left;
	
			box-sizing: border-box;
			border: 3px solid $banana-color;
			background: $banana-color-red;



		}
	}


}

/*
*
*
*		banana people
*
*/

section.about {
	background: url('../media/landing/ricepaper.png');
	text-align: center;


	p {
		text-indent: $woid;
	}

	div.about-banana {	
		display: inline-block;
		width: 50%;
		//margin: 0 auto;
		text-align: center;
		//height: 40%;
		padding-top: $woid*3;
		box-sizing: border-box;
		
		p {
			margin: $woid $woid*2;
			overflow: hidden;	
			padding: 0 $woid*3;		
		}
		div {
			width: 80%;
			margin: 0 auto;
			background: rgba($banana-color, 0.3);
			padding: $woid/2;
		}
		a.about-brief {
			display: block;
			width: 70%;
			margin: 0 auto;
			padding: $woid;
			margin-top: $woid;
			text-align: center;

			color: #fff;
			font-size: 1.4em;			
			border: 3px solid $banana-color;
			background: $color-green-nice;
			&:hover {
				text-decoration: none;
			}
		}
	}
	ul.slaves {
		box-sizing: border-box;
		margin-bottom: 0;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		li {
			@include clearfix();
			margin: $woid*2 auto;
			width: 250px;
			padding: $woid 0;
			border: 2px dashed $banana-color-red;
			box-sizing: border-box;
	
			h3 {
				margin-top: 0;
				padding-bottom: $woid;
				border-bottom: 2px dashed $banana-color-red;
			}
			img {
				width: 180px;
				height: 180px;
				margin: 0 auto;
				vertical-align: top;
				border-radius: 100%;
				//border: 3px dotted $banana-color-red;
				box-shadow: 0 0 10px #666;
			}
			p {
				
			}
			span {
				display: block;
				float: right;
			}
		}		
		
	}
}





/*
*
*
*		contact
*
*/


section.landing-contact {
	//background: url('../media/landing/4YCB0VAY1L.jpg');
	//background-size: cover;

	background: url('../media/landing/stardust.png');
	padding-top: 100px;
	text-align: center;

	div.landing-contact-list {
		background: url('../media/landing/ricepaper.png');
		//border: 5px dashed $banana-color-red;
		-webkit-box-shadow: 0 0 20px #ECE9E5;
		box-shadow: 0 0 20px #ECE9E5;

		width: 75%;
		margin: 0 auto;
		padding: $woid*2;

		h2 {
			font-size: 2.7em;
			margin-top: 0;
			text-align: center;
		}

		p {
			width: 50%;
			float: left;
			text-align: left;

		}

		table.contact-table {
			text-align: left;
			width: 45%;
			float: right;


			td {
				padding: $woid/2;
			}
		}



		
		h3, h4 {
			margin-top: $woid;
		}


	}

	

}




.saying:after{
	content:"|";
	font-family:Arial, sans-serif;
	font-size:1.2em;
	line-height:1;
	display:inline-block;
	vertical-align:baseline;
	opacity:1;
}
/*
#fp-nav ul li .fp-tooltip.left {
	width: 100px;
	height: 40px;
	border: 1px solid $banana-color-red;
	background: rgba($banana-color, 0.8);

	color: #fff;
	font-size: 1.4em;
	padding:$woid/2;

}
*/
#fp-nav ul li a span {
	background: $banana-color-red !important;
}

.fp-slidesNav ul li a span {
	background: $banana-color-red !important;
}

.fp-controlArrow.fp-prev {
	border-color: transparent $banana-color-red transparent transparent !important;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent $banana-color-red !important;
}


.active-offer {
	background: $banana-color;
	color: #fff !important;
}

