aside#landing-nav {
	position: fixed;
	top: 0;
	z-index: 99;

	width: 70px;
	height: 100%;
	background: $banana-color;
	border-right: 1px solid $banana-color-red;

	//opacity: 0.9;
	text-align: center;

	//padding-top: $woid;
	padding-bottom: $woid;
	//box-sizing: border-box;

	div.toogle-nav {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		text-align: center;
		//border-bottom: 1px solid $banana-color-red;
		//border-left: 1px solid $banana-color-red;
		opacity: 0.7;
		padding-top: 10px;
		box-sizing: border-box;
		cursor: pointer;
		-webkit-user-select: none;  
		-moz-user-select: none;     
		-ms-user-select: none;     
		user-select: none;
		&:hover {
			background: darken($banana-color, 20%);
		}

	}

	.super-pupper-navigation {
		position: fixed;
		top: 0;
		left: 71px;
		z-index: 99;
		background: $banana-color;
		border-right: 1px solid $banana-color-red;
		height: 100%;
		width: 0;
		box-sizing: border-box;
		opacity: 0;

		ul {
			//margin-top: $woid;
			//display: table;
			//vertical-align: middle;

			
			li {	
				&:first-child {
					margin-bottom: $woid*6;
					padding-top: $woid;
					font-size: 1.1em;
					height: 70px;

				}	
				&:last-child {
					position: absolute;
					bottom: $woid;
					width: 100%;
					font-size: 0.9em;
					border-top: 1px solid $banana-color-red;
					padding-top: $woid;
				}				
				a {
					text-align: left;
					padding: $woid;
					display: block;
					color: $text-color;
					font-size: 1em;
					//border-top: 1px solid $banana-color-red;
					//border-bottom: 1px solid $banana-color-red;
					i {
						display: block;
						float: right;
						font-size: 1.3em;
					}
					&:hover {
						background: darken($banana-color, 20%);
						color: $banana-color-white;
						text-decoration: none;
						i {
							color: $banana-color-red;
						}

					}

				}
			}
		}
	}

	.active-nav {
		opacity: 1;
		width: 230px !important;

	}

	a.go-to-blog {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 70px;
		height: 70px;
		padding-top: $woid/2;
		//border-top: 1px solid $banana-color-red;
		//border-left: 1px solid $banana-color-red;
		color: #857D5B;
		&:hover {
			background: darken($banana-color, 20%);
			color: #857D5B;
		}
		&:visited {
			color: #857D5B;
		}
	}
	hr {
		border: 1px solid $banana-color-red;
		border-bottom: 0;
		//border-style: solid;
		position: absolute;
		width: 100%;
		margin: 0;
		border-width: 1px;
	}
	hr.top-nav-hr {
		top: 70px;
	}
	hr.bottom-nav-hr {
		bottom: 77.5px;
	}


	h2 {
		width: 70px;
		margin-top: 0;
		font-size: 2.4em;
		color: $banana-color-red;

			sub {
				color: $color-green-nice;
			}
	}

		

	}


div#fullPage {
	//margin-left: 70px;
}


/*************************************************************************************************
*
*
*		sky
*************************************************************************************************
*/

section.sky {
	background: url('../media/landing/ricepaper.png');
	text-align:center;

	header {
		width: 65%;
		float: left;

		h1.theater {	
			display: inline-block;		
			font-size: 3.5em;
			margin: 0;
			padding-top: 10%;
			padding-left: $woid*2;
			//margin-bottom: 11%;

		}

		ul.like-and-share {
			margin: $woid*2 $woid*2 $woid*2 $woid*4;
			//padding: $woid;
			line-height: 0 !important;
			//-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
  			//box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);

			li {
				display: inline-block;
				margin: 0 $woid;
				padding-bottom: $woid;
				padding-top: $woid;
				vertical-align: top;

			}

			li.vk {
				margin-right: -20px;

			}
		}
	}

		
	aside {
		float: right;
		width: 30%;
		height: 90%;
		padding: $woid*2;
		//border-left: 2px dotted $banana-color-red;

		

		ul.header-contact {
			
			//margin: $woid*2 $woid*4 $woid*2 $woid*2;
			padding: $woid;
			text-align: left;
			//border: 2px solid $banana-color-red;
			
			li {
				font-size: 1.2em;
			}
		}
	}
		
	

	span.scroll-down-please {
		position: absolute;
		bottom: 10px;
		left: 32.5%;
		margin-left: -25px;
		display: block;
		width: 50px;
		height: 50px;
		//background: url('../media/landing/pretty-sprite.png') no-repeat -44px -44px;
		background: url('../media/landing/scroll-down.png');
		opacity: 0.5;
		cursor: pointer;
	}
	
}

div.yoba-form {
			margin: 0;
			padding-top: 20%;
			form {
				text-align: center;
				padding: $woid;
				border: 1px solid $banana-color-red;
				-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
				-moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
				
				input, textarea {
				    width: 250px;
				    height: 30px;
				    font: 1.1em Arial, sans-serif;
				    padding: $woid/3 $woid;
				    margin: $woid;
				    border: 0;
				    border-left: 2px solid #E91E63;
		
				    &:focus {
				    	outline: none;
				    }
				}
				textarea {
					height: 90px;
					max-width: 250px;
				}
				input[type="submit"] {
					color: $banana-color-white;
					background: $banana-color-red;
					width: 300px;
				    height: 50px;
				    cursor: pointer;
				    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
  							box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
	
				}
			}
		}

.section-header {
	margin: 0;
	padding-top: $woid/2;
	padding-bottom: $woid/2;
	font-size: 2.3em;
	text-align: center;
	-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);

}

/*************************************************************************************************
*
*
*		offer
*************************************************************************************************
*/
section.offer {
	background: url('../media/landing/stardust.png');

	h2 {
		background: url('../media/landing/ricepaper.png');
	}

	ul {
		margin-top: $woid*3;
		text-align: center;	
		height: 70%;
		margin-bottom: 0;	

		li {
			display: inline-block;
			vertical-align: top;
			width: (100% / 3.5);
			//min-width: 300px;
			background: url('../media/landing/ricepaper.png');
			margin: 0 $woid;
			border: 2px solid $banana-color-red;
			//border-bottom: 0;
			margin-bottom: $woid*3;

			h3 {
				background: $banana-color;
				font-size: 1.9em;
				margin: 0;
				-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
  				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
			}
			p {
				text-align: left;
				padding: $woid;
				margin-bottom: 0;
			}
			div {
				background: $banana-color-red;
				font-size: 1.3em;
				padding: $woid/4;
				margin: 0;
				-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
  				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
  				color: #ECE9E5;
			}
		}
	}
	div.brief {
		width: 80%;
		margin: 0 auto;
		border: 1px solid $banana-color;
		text-align: center;
		clear: both;
		a {
			display: block;
			height: 100%;
			padding: $woid/2;
			background: rgba($banana-color-red, 0.9);
			color: #ECE9E5;
			font-size: 1.4em;

			&:hover {
				text-decoration: none;
			}
		}

	}
}




/*************************************************************************************************
*
*
*		slider
*************************************************************************************************
*/

section.slider {
	//padding: 0 $woid*4 0;

	text-align:left;

	background: url('../media/landing/ricepaper.png');
	//background: url('../media/grass.jpg');



	.fp-slides {
		height: 95%;
	}

	hr {
		border-style: solid;
		color: $banana-color-red;

	}

		div.slide {
			height: 100%;

			-padding: $woid/2 $woid*2;
			//background: url('../media/landing/ricepaper.png');
			box-sizing: border-box;
			

			div.slide-text {
				height: 90%;
				width: 100%;
				margin: 0;	
				padding: $woid;			
				box-sizing: border-box;
				text-align: center;

				p {
					width: 70%;
					margin: 0 auto;
					padding-top: $woid*2;
					text-align: left;
					text-indent: $woid;
				}
			}



			h2 {
				margin-top: 0;
				box-sizing: border-box;
				
				font-size: 39px;
				-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
  				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
			}

			ol, ul {
				display: inline-block;
				min-width: 40%;
				margin-left: $woid*2; 
			}
			
			h4 {
				margin: 0;
				display: inline-block;
				padding: $woid/2;
				background: $color-green-nice;
				border: 1px solid $banana-color-red;
				color: #fff;
				font-size: 1.1em;
			}

			h3 {
				margin: 0;
				margin-bottom: $woid/2;
				font-size: 19px;
			}

			
		}
}
section.slider  {
	div.portal {
		img {
			width: 100%;
			height: 30%;
			margin-bottom: $woid;

			&:first-child {
				margin-top: $woid;
			}
		}					
	}
div.seo {
	img {
		width: 45%;
		height: 45%;
		display: inline-block;
	}
}
div.landos {
	div.slide-text {
		@include clearfix();
		p, ol {
			width: 50%;		
			padding: $woid;
			box-sizing: border-box;
		}
		p {
			float: left;

		}
		ol {
			float: right;
			text-align: left;
			margin-left: 0;
			padding-left: $woid*4;
			li {
				padding-bottom: $woid/2;
			}
		}
	}
	

}
div.support {

}
div.e-commerce {
	img {
		height: 100%;
	}
}

div.banana-more {
	div.slide-text {

		h2 {
			width: 80%;
			margin: 0 auto;
			font-size: 26px;
		}
	}
	ol {
		margin-top: $woid*3;
		padding-left: $woid*4;
		padding-right: $woid*2;
		text-align: left;

		li {
			padding-bottom: $woid/2;
		}
	}
	
	.ol-column {
		vertical-align: top;
		display: inline-block;
		width: 45%;
		&:nth-child(2) {
			margin-left: 5%;
		}
	}
}
}
