

div.wrapper {
    height: 100%;
    padding-left: $woid*2;
    padding-bottom: $woid*2;
    padding-left: 0;
    max-width: 1200px;
    margin: 0 auto;

}

header.blog-header {
    //height: 500px;
    background: url('../media/grass.jpg');
    background-size: cover;
    padding-left: $woid*4;
    margin-bottom: $woid*2;

    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.175);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.175);
    h1 {
        display: inline-block;
        //height: 100%;
        box-sizing: border-box;
        font-size: 4em;
        color: rgb(84, 84, 84);
        background: $banana-color;
        margin: 0;
        padding: $woid*2;
        border-right: 4px solid $banana-color-red;
        border-left: 4px solid $banana-color-red;

        a {
            background: $banana-color-red;
            padding: $woid/2;
            color: #ECE9E5;
            &:hover, &:visited {
                color: #ECE9E5;
                text-decoration: none;
            }
        }
    }

}

aside.sidebar  {
    position: absolute;

    
    width:      25%;
    background: $banana-color;
    opacity: 1;

    -height: 100%;

    float: left;

    -margin-top: $woid;
    margin-bottom: $woid;

    border: 2px dotted $banana-color-red;


        &:after {
            content: "";
            display: table;
            clear: both;
        }

        section {
            padding:$woid;
        }

        p {
            padding-left: $woid;
            font-size: 16px;
            font-weight: 100;
            line-height: 1.2;
        }
       
        nav {
            ul li {
                margin:     $woid 0;
                height:     45px;
                width:      151px;
                background: $banana-color;
                border:     2px inset $banana-color-dark;


                    a {
                        display:block;
                        height: 100%;
                        color:#fff;

                        font-family: $font-banana-junc;
                        font-size: 1.8em;
                        padding-left:$woid;
                    }
            }
        }

        .logo {

            color:  $brand-color; 
            font-family: $font-banana-bold;   
            font-size: 31px;
            background: $banana-color;

            border-left:1px dotted $banana-color-red;
            padding-left:2px;

                a {
                    &:hover {        
                        text-decoration: none;
                        color:  $brand-color; 
                    }
                }
                span {
                    color:#008001;
                }
        }

        section.contact {
            -position:absolute;
            -bottom:  0;

                h4{
                    text-align: center;
                }
                ul {
                    margin:0 auto;
                }

                ul li {
                    display:inline-block;
                    margin:0;
                }
        }
    
}


aside.content {
    width: 70%;
    margin: 0 auto;
    min-width: 600px;
    min-height: 100%;
    padding-bottom: 100px;    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../media/landing/ricepaper.png');
    padding: $woid $woid*3 $woid*4;
    border: 1px dotted $banana-color-red;

}


footer.blog-footer {
    background: #fff;
    -width: 100%;
    padding: $woid;
    margin-bottom: $woid;

    position: absolute;
    bottom: 0;

        ul li {
            display: inline-block;
        }

        p a {
            vertical-align: middle;
        }
}


section.aboutAll {
    -height: 100%;
    padding: 3%;

    -background: url('../media/grass.jpg');
    -background-size: cover;

        div {
            width: 80%;
            margin: 0 auto;
            padding: $woid;
            background: url('../media/landing/crumpled_white_paper_texture_by_melemel.jpg');
            background-size: cover;

                p {


                }
        }
}