aside.sidebar {
    height:     100%;
    width:      150px;
    background: $banana-color;

    position:   fixed;
    left:       0;
    top:        0;

    border-left:3px solid $banana-color-dark;
    border-right:1px dotted $banana-color-red;

    section {
        padding:$woid;
    }

   
    nav {
        ul li {
            margin:     $woid 0;
            height:     45px;
            width:      151px;
            background: $banana-color;
            border:     2px inset $banana-color-dark;


                a {
                    display:block;
                    height: 100%;
                    color:#fff;

                    font-family: $font-banana-junc;
                    font-size: 1.8em;
                    padding-left:$woid;
                }
        }
    }

    h2.logo {

        color:  $brand-color; 
        font-family: $font-banana-logo;   
        font-size: 31px;
        background: $banana-color;
        width:280px;

            a {
                &:hover {        
                    text-decoration: none;
                    color:  $brand-color; 
                }
            }
            span {
                color:#008001;
            }
    }

    section.contact {
        position:absolute;
        bottom:  0;
            
            ul {
                margin:0 auto;
            }

            ul li {
                display:inline-block;
                margin:0;
            }
    }
    
}

aside.content {
    width:      680px;
    margin:     $woid $woid $woid 350px+$woid;
    padding-right: 80px;

}