nav.sidebar{
    height:     100%;
    width:      20%;
    background: $banana-color;

    position:   fixed;
    left:       0;
    top:        0;
    
    padding:    $woid/2;

    h2 {
        margin:$woid/2;


        a {
            color: $brand-color;
        }
    }

}