nav.sidebar{
    height:     100%;
    width:      20%;
    background: $banana-color;

    position:   fixed;
    left:       0;
    top:        0;

    h2 {
        a {
            color: $brand-color;
        }
    }

}