/* phones */

@media only screen and (max-width: 767px) { 

	nav#landing-nav {
		display: none;
	}

	div#fullPage {
		margin-left: 0;
	}
	span#how-to-nav {
		display: none;
	}
	header.sky h1.theater {
  		font-size: 2em;
  		padding-top: 15%;
  	}
  	h2.landing-contact-mail {
		font-size: 1.2em !important;
	}
}



/* tablets */

@media only screen and (min-width: 768px) and (max-width: 959px) { 

 }