/* phones */

@media only screen and (max-width: 767px) { 

body {
	background: url('../media/landing/ricepaper.png');
}

aside#landing-nav {
	display: none;
}

div#fullPage {
	margin-left: 0;
}

section.sky {
	background: none;
	height: auto !important;

	span.scroll-down-please {
		left: 50%;
	}

	header {
		float: none;
		width: 100%;
		h1.theater {
			padding-top: 200px;
	  		font-size: 2.3em !important;
	  		max-width: 90%;
	  		margin: 0 auto;
		}
		ul.like-and-share {
			position: absolute;
			top: 0;
			margin: 0;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
		ul.like-and-share li {
			display: inline-block;
			padding-top: $woid;
			padding-bottom: $woid;
		}
	}
	
	aside {
		float: none;
		width: 100%;
		padding: 0;
		ul.header-contact {
			position: absolute;
	    	bottom: 80px;
	    	margin: 0;
	    	box-shadow: none;
			-webkit-box-shadow: none;

	    	li {
	    		font-size: 1em;
	    	}
		}
		div.yoba-form {
			padding-bottom: $woid*4;
			padding-top: $woid*3;
			form {
				border: 0;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;

				h2 {
					font-size: 1.3em;
				}

				input, textarea {
				    width: 200px;
				    height: 20px;
				    font: 0.9em Arial, sans-serif;
				}
				textarea {
					height: 60px;
					max-width: 200px;
				}
				input[type="submit"] {
					width: 250px;
				    height: 50px;
	
				}
			}
				
		}
	}
	
	

}

.section-header {
	font-size: 1.5em;
}

section.offer {
	height: auto !important;
	ul li {
		margin-bottom: $woid;
		width: 90%;
		h3 {
			font-size: 1.3em;
		}
		p {
			//display: none;
			font-size: 14px;
		}
		div {
			font-size: 1em;
		}
	}
}

section.slider {
	height: auto !important;


	.fp-slides {
		height: 100%;
	}
	.fp-controlArrow.fp-prev,  .fp-controlArrow.fp-next{
		top: 100px;
		background: $banana-color !important;
		width: 30%;
		height: 40px;
		color: #000;
		font-size: 3em;
		border: 2px dashed $banana-color-red !important;
		&:after {
			position: absolute;
			top: -20px;
		}
	}
	.fp-controlArrow.fp-prev {
		&:after {
			content: "\21E0";
			left: 30px;

		}
	}
	.fp-controlArrow.fp-next {
		&:after {
			content: '\21E2';
			right: 30px;

		}
	}
	div.slide {
		border-right: 0;
		border-left: 0;
		padding-top: 50px;
		div.slide-img {
			display: none;
		}
		div.slide-text {
			float: none;
			width: 100%;
			height: auto;

			h2 {
				font-size: 25px;
				margin-top: 40px;
			}
			p {
				font-size: 14px;
			}
		}
		div.brief a{
			font-size: 1em;
		}
	}
}
	

section.portfolio {
	h2 {
		font-size: 25px;
	}
	ul.banana-grid li {
		width: 45%;
		height: 140px;
		margin: 0;
	}
}


section.how-banana-work {
	height: auto !important;
	ul {
		margin-bottom: 0;
		li {
			padding-bottom: 0;
			width: 90%;
			min-width: 90%;
			div.how-work-count {
				height: 30px;
				width: 30px;
				font-size: 20px;
				top: -15px;
	  			left: -15px;
			}
			h3 {
				font-size: 1.3em;
			}
			p {
				font-size: 14px;
			}

		}
	}
}

section.escort {
	height: auto !important;
	h2.section-header {
		font-size: 1.3em;
	}
	div.urrrghhh {
		width: 90%;
		margin-right: 0;
		div.how-work-count {
			height: 30px;
			width: 30px;
			font-size: 20px;
			top: -15px;
  			left: -15px;
		}
		h3 {
			font-size: 1.3em;
		}
		p {
			font-size: 14px;
			padding: $woid;
		}
		div.banana-price {
			font-size: 1em;
		}
	}
	div.about-escort {
		width: 80%;
		margin-left: 0;
		font-size: 14px;
		padding: $woid;
		margin-bottom: $woid*2;
		h3{
			font-size: 1.3em;
			padding: $woid;
		}
	}
}

section.about {
	height: auto !important;
	border-bottom: 0;
	border-right: 0;


	ul.slaves {
		padding-top: $woid*2;
		 
		li {
			width: 100%;
			//float: none;
			//width: 100%;
			margin-bottom: 0;
			padding: $woid/2;
			box-sizing: border-box;
			//border-top: 0;
			//border-bottom: 0;


			img {
				//display: inline-block;
				width: 60px;
				height: 60px;
				//border: 1px solid $banana-color-red;
			}
			p {
				font-size: 0.9em;
				height: 110px;
				//min-width: 150px;
				width: 200px;
				max-height: 110px;
				max-width: 200px;
			}
			div {
				
			}

			&:nth-child(1) {
				img {
					//float: right;
					margin-left: $woid;
					//vertical-align: middle;					
				}
				div {

				}
			}
			&:nth-child(2) {
				img {
					//float: left;
					margin-right: $woid;
					//vertical-align: bottom;
				}
				div {

				}
			}
			&:nth-child(3) {
				img {
					//float: right;
					margin-left: $woid;
				}
				div {

				}
			}	
			&:nth-child(4) {
				img {
					//float: left;
					margin-right: $woid;
				}
				div {

				}
			}

			#jenya {
				&:after {
					border-width: 10px;
					margin-top: -10px;
				}
				&:before {
					border-width: 12px;
					margin-top: -12px;
				}
			}
			#dima {
				&:after {
					border-width: 10px;
					margin-top: -10px;
				}
				&:before {
					border-width: 12px;
					margin-top: -12px;
				}
			}
			#valia {
				&:after {
					border-width: 10px;
					margin-top: -10px;
				}
				&:before {
					border-width: 12px;
					margin-top: -12px;
				}
			}
			#igor {
				&:after {
					border-width: 10px;
					margin-top: -10px;
				}
				&:before {
					border-width: 12px;
					margin-top: -12px;
				}
			}

		}
	}
	div.about-banana {
		width: 100%;
		float: none;
		border-right: 0;
		padding-top: 0;

		h2 {
			font-size: 25px;
		}
		p {
			padding: 0;
			font-size: 14px;
		}

	}
	

}
section.landing-contact {

	background: none;
	padding-top: $woid*2;
	height: auto !important;
	padding-bottom: $woid;

	div.landing-contact-list {
		margin-top: 0;
		width: 100%;
		padding: 0;
		padding-top: $woid*2;
		text-align: center;
		border: 0;

		h3 {
			display: none;
		}
		p.contact-massage {
			display: none;
			width: 100%;
			float: none;
			font-size: 14px;
			padding: $woid*2;
			box-sizing: border-box;
		}
		p.please-help {
			margin-top: $woid;
			font-size: 1.1em;
		}
		ul {
			width: 90%;
			margin: 0 auto;
			float: none;
			li {
				font-size: 1em;
			}
		}
		div.yoba-form {
			float: none;
			width: 100%;
			form {
				border: 0;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;

				h2 {
					font-size: 1.3em;
				}

				input, textarea {
				    width: 200px;
				    height: 20px;
				    font: 0.9em Arial, sans-serif;
				}
				textarea {
					height: 60px;
					max-width: 200px;
				}
				input[type="submit"] {
					width: 250px;
				    height: 50px;
	
				}
			}
				
		}
	}

	

}

} //end phones






