/* tablets */

@media only screen and (min-width: 768px) and (max-width: 1159px) { 

body {
	background: #ECE9E5;
}

aside#landing-nav {
	display: none;
}
div#fullPage {
	margin-left: 0;
}
#fp-nav {
	display: none;
}

section.sky {
	height: auto !important;
	header {
		float: none;
		width: 100%;
		h1.theater {
	  		font-size: 3.8em;
	  		padding-top: 8%;
		}

		ul.like-and-share {
			margin: 0 auto;
			width: 75%;
			float: none;
			text-align: center;
			-webkit-box-shadow: none;
	  				box-shadow: none;
		}
	}
	aside {
		float: none;
		width: 100%;
		padding: 0;

		div.yoba-form {
			padding-bottom: $woid*4;
			padding-top: $woid*3;
			form {
				border: 0;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;

				h2 {
					font-size: 1.3em;
				}

				input, textarea {
					vertical-align: top;
				    width: 200px;
				    height: 20px;
				    font: 0.9em Arial, sans-serif;
				}
				textarea {
					height: 60px;
					max-width: 200px;
				}
				input[type="submit"] {
					width: 250px;
				    height: 50px;
	
				}
			}
				
		}
	}
	ul.header-contact {
		margin: 0 auto;
		width: 60%;
		float: none;
		text-align: center;
		-webkit-box-shadow: none;
  				box-shadow: none;
	}
}
.section-header {
	font-size: 1.8em;
}
section.offer {
	height: auto !important;
	ul {
		margin-top: $woid;
		li {
			margin: 0 0 $woid;
			width: 31%;
			box-sizing: border-box;


			h3 {
				font-size: 1.3em;
			}
			p {
				//display: none;
				font-size: 14px;
			}
			div {
				font-size: 1em;
			}
		}
	}


}

section.how-banana-work {
	height: auto !important;
	ul {
		margin-bottom: 0;
		li {
			padding-bottom: 0;
			min-width: 26%;
			width: 26%;

			div.how-work-count {
				height: 30px;
				width: 30px;
				font-size: 20px;
				top: -15px;
	  			left: -15px;
			}
			h3 {
				font-size: 1.3em;
			}
			p {
				font-size: 14px;
				padding: $woid/2;
				span {
					//display: none;
				}
			}
		}
	}
}


section.escort {
	height: auto !important;

	div.urrrghhh {
		width: 40%;

		div.how-work-count {
			height: 30px;
			width: 30px;
			font-size: 20px;
			top: -15px;
  			left: -15px;
		}
		h3 {
			font-size: 1.3em;
		}
		p {
			font-size: 14px;
			padding: $woid;
		}
		div.banana-price {
			font-size: 1em;
		}
	}
	div.about-escort {

		margin-left: 0;
		font-size: 14px;
		padding: $woid;
		margin-bottom: $woid*2;
		h3{
			font-size: 1.3em;
			padding: $woid;
		}
	}
}


section.about {
	height: auto !important;
	border-bottom: 0;
	border-right: 0;
	div.about-banana {
		width: 50%;
		h2 {
			font-size: 25px;
		}
		p {
			font-size: 14px;
			span {
				display: none;
			}
		}
	}
	ul.slaves {
		padding-top: $woid*2;
		li {
			font-size: 14px;
			//width: auto;
			padding: $woid;
			h3 {
				padding: $woid;
			}
			img {
				width: 100px;
				height: 100px;
			}
		}		
	}
}
section.landing-contact {
	height: auto !important;

	div.landing-contact-list {
		width: 85%;
		h2 {
			font-size: 2em;
		}
		p {
			font-size: 14px;

		}
		table.contact-table {
			font-size: 14px;
			td {
				//padding: 0 $woid/3;
			}
		}
	}
}
} //end tablets

