/* phones */

@media only screen and (max-width: 767px) { 

body {
	background: url('../media/landing/ricepaper.png');
}

nav#landing-nav {
	display: none;
}

div#fullPage {
	margin-left: 0;
}

header.sky {
	background: none;
	h1.theater {
		padding-top: 20%;
  		font-size: 2.3em !important;
  		max-width: 90%;
  		margin: 0 auto;
	}
	ul.like-and-share {
		position: absolute;
		bottom: 40px;
		right: 30%;
	}
	ul.like-and-share li {
		display: block;
		padding-top: $woid/2;
		padding-bottom: $woid/2;
	}

}


section.offer {
	background: none;
	padding: 0;

	nav#offer-nav {
		display: none;
	}
	.fp-slides {
		height: 100%;
	}
	.fp-controlArrow.fp-prev,  .fp-controlArrow.fp-next{
		top: 40px;
		background: $banana-color !important;
		width: 40%;
		height: 40px;
		color: #000;
		font-size: 2em;
		border: 2px dashed $banana-color-red !important;
		border-top: 0 !important;
		&:after {
			position: absolute;
			top: -7px;
		}
	}
	.fp-controlArrow.fp-prev {
		&:after {
			content: '<<---';
			left: 30px;
		}
	}
	.fp-controlArrow.fp-next {
		&:after {
			content: '--->>';
			right: 30px;

		}
	}
	div.slide {
		border-right: 0;
		border-left: 0;
		div.slide-img {
			display: none;
		}
		div.slide-text {
			float: none;
			width: 100%;
			height: auto;

			h2 {
				font-size: 25px;
				margin-top: 40px;
			}
			p {
				font-size: 14px;
			}
		}
		div.brief a{
			font-size: 1em;
		}
	}
}
	

section.portfolio {
	h2 {
		font-size: 25px;
	}
	ul.banana-grid li {
		width: 45%;
		height: 140px;
		margin: 0;
	}
}
section.about {
	border-bottom: 0;
	border-right: 0;
	//margin-bottom: 200px;
	div.about-banana {
		width: 100%;
		float: none;
		border-right: 0;

		h2 {
			font-size: 25px;
		}
		div {
			width: 90%;
			padding: $woid;
				p {
					margin: 0;
					a {
						font-size: 18px;
						padding: $woid/3;
					}
				}
		}
	}
	p {
		font-size: 14px;
	}
	ul {
		display: none;
	}
}
section.landing-contact {
	border-top: 2px dashed $banana-color-red;
	background: none;
	padding-top: $woid*2;

	div.landing-contact-list {
		h2 {
			font-size: 25px;
		}
		p {
			width: 100%;
			float: none;
			font-size: 14px;
		}
		table.contact-table {
			width: 100%;
			float: none;

			td {
				padding: 0 $woid/3;
			}
		}
	}

	

}

} //end phones






/* Big guy. For you */

@media only screen and (min-width : 1824px) {

}