header.post-header {
	h1.post-title {
		margin-top: 0;
	}
}


section.post {
	


	article {

		h2 {
			font-size: 			33px;
			color: 				lighten(#000, 39%);
		}
		h3 {
			font-size: 			29px;
			color: 				lighten(#000, 29%);
		}
		h4 {
			font-size: 			21px;
			color: 				lighten(#000, 19%);
		}
		h5 {
			font-family: $font-banana-italic;
			font-size:  17px;
			letter-spacing: 1px;
		}


		ol, ul {
			-font-size: 			22px;
			margin: 			$woid 0 $woid 70px;
			list-style-image: 	none;
		}
		ol {
			list-style-type: 	decimal;
		}
		ul {
			list-style-type: 	disc;
		}


		strong {
			font-family: 		$font-banana-bold;
		}
		em {
			font-family: 		$font-banana-italic;
		}
		mark {

		}


		p {
			word-wrap: 			break-word;
			font-size: 			17px;
			letter-spacing: 0.9px;
			
		}
		blockquote {
		    color: lighten(#000, 17%);
		    border: 3px dashed $banana-color-light;
		    margin: $woid*2 auto;
		    padding: $woid*3;
		    font-size: 23px;
		    letter-spacing: 1px;
		    -width:470px;


			p {
				text-align: center;
			}

		    > :last-child {
		        margin-bottom: 0;
		    }
		}

	}
}