<!DOCTYPE html>
<html>

<head>
 	{% include head.html %}


	<link rel="stylesheet" href="css/jquery.fullPage.css">
	

	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.waitforimages.js"></script>	 
	<script type="text/javascript" src="js/lib/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="js/lib/theater.min.js"></script>
	<script type="text/javascript" src="js/lib/theater.ru.min.js"></script>


</head>

<body >

	<div class="preloader" id="preloader">
	    <div class="item">
	     	<div class="spinner"></div>
	    </div>
	</div>

    {{ content }}
    
	
	<script type="text/javascript" src="js/lib/script.js" ></script>



	<script type="text/javascript" src="js/landing.js"></script>

</body>

</html>
