<!DOCTYPE html>
<html>

<head>
 	{% include head.html %}


	<link rel="stylesheet" href="css/jquery.fullPage.css">

</head>

<body>

<div class="preloader" id="preloader">
		<div class="item">
	     	<div class="spinner"></div>
	    </div>	   
</div>

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3&appId=417641915087223";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {{ content }}


    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui-1.10.4.min.js"></script>
    
    <script type="text/javascript" src="js/lib/jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.waitforimages.js"></script>		

	<script type="text/javascript" src="js/lib/theater.min.js"></script>
	<script type="text/javascript" src="js/lib/theater.ru.min.js"></script>	
	<script type="text/javascript" src="js/lib/script.js" ></script>
	<script type="text/javascript" src="js/landing.js"></script>


	{% include metrika.html %}

	

</body>

</html>
